@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Timmana&display=swap");
:root {
  --primary-color: #26001b;
  --secondary-color: #810034;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  background-color: var(--primary-color);
  color: #fff;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Timmana", sans-serif;
}

#main-header {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 30px;
}

#main-header h1 {
  font-size: 3rem;
}

#timeline {
  padding: 50px 0;
}

/* Create Line */

#timeline ul li {
  position: relative;
  background-color: #fff;
  width: 5px;
  margin: auto;
  padding-top: 50px;
}

#timeline ul li div {
  position: relative;
  bottom: 0;
  background-color: var(--secondary-color);
  width: 400px;
  padding: 15px;
}

/* Right Side & Left Side */

#timeline ul li:nth-child(odd) div {
  left: 40px;
}

#timeline ul li:nth-child(even) div {
  left: -435px;
}

/* Dots */

/* #timeline ul li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transform: translateX(-50%);
}  */

/* Arrows  */

/* #timeline div:before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
}

#timeline ul li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
}

#timeline ul li:nth-child(even) div:before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--secondary-color);
} */

/* Mobile */

@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }
  #timeline ul li:nth-child(even) div {
    left: -285px;
  }
}

@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 100px);
  }
  #timeline ul li:nth-child(even) div {
    left: 40px;
  }
  /* #timeline ul li:nth-child(even) div:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--secondary-color) transparent transparent;
    } */
}
